.footerWrapper {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  margin-top: 12px;
}

.footer {
  width: var(--content-width-percent);
  max-width: var(--content-max-width);
  border-top: 1px solid black;
}
