.footerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: var(--inactive-color);
  width: 100%;
  z-index: 1000;
}

.footer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: var(--content-width-percent);
  max-width: var(--content-max-width);
  border-top: 1px solid var(--inactive-color);
  height: var(--footer-height);
  padding: 0 12px;
  font-size: smaller;
  box-sizing: border-box;
}

.favicon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  vertical-align: middle;
}
