:root {
  --content-max-width: 800px;
  --content-width-percent: 95%;
  --bg-color: #c5e3c5;
  --inactive-color: gray;
}

@keyframes breeze {
  0% {
    transform: perspective(160rem) rotateY(-4deg);
  }
  25% {
    transform: perspective(160rem) rotateY(3deg);
  }
  50% {
    transform: perspective(160rem) rotateY(-2deg);
  }
  75% {
    transform: perspective(160rem) rotateY(1deg);
  }
  100% {
    transform: perspective(160rem) rotateX(0deg);
  }
}

@font-face {
  font-family: "NationalParkRegular";
  src: url(font-regular);
}

html {
  font-family: "NationalParkRegular", "sans-serif";
  font-size: larger;
  background-color: var(--bg-color);
  width: 100vw;
}

body {
  margin: 0px;
}

h1,
h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

img {
  width: var(--content-width-percent);
  max-width: var(--content-max-width);
}

footer {
  width: var(--content-width-percent);
  max-width: var(--content-max-width);
  border-top: 1px solid black;
}

#footer-wrapper {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  margin-top: 24px;
}

#content {
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
}

#main {
  width: var(--content-width-percent);
  max-width: var(--content-max-width)
}

/* RESUME PAGE */

#resume {
  font-size: large;
}

#resume a {
  color: #325b89
}

#resume h2 {
  margin-bottom: 0px;
}

#resume > ul, p {
  margin-top: 6px;
}

/* NAVBAR COMPONENT */

#navbar-wrapper {
  display: flex;
  justify-content: center;
  background-color: black;
  color: var(--inactive-color);
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

#navbar {
  display: flex;
  text-align: left;
  width: var(--content-width-percent);
  max-width: var(--content-max-width);
}

.nav-item {
  color: var(--inactive-color);
  text-decoration: none;
}

.nav-item:hover {
  color: var(--bg-color);
}

.nav-active {
  color: var(--bg-color);
}

#menu {
  display: none;
  flex-direction: column;
  color: var(--bg-color);
  background-color: black;
  padding-left: 24px;
  padding-bottom: 24px;
}

#menu-button {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  color: var(--inactive-color);
  background: inherit;
  border: none;
}

@media (max-width: 376px) {

  #nav-items-wrapper {
    display: none;
  }

  #menu-button:hover {
    cursor: pointer;
    color:var(--bg-color);
  }

}

/* CONTACT COMPONENT */

#contact {
  padding-top: 12px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: black;
  padding-left: 9px;
  padding-right: 9px;
}

/* PROJECT PAGE */

.project-card-content {
  margin-top: 12px;
  margin-bottom: 48px;
}

.project-card-image {
  animation-name: breeze;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  border-radius: 10px;
}
