@keyframes breeze {
  0% {
    transform: perspective(80rem) rotateY(-4deg);
  }
  25% {
    transform: perspective(80rem) rotateY(3deg);
  }
  50% {
    transform: perspective(80rem) rotateY(-2deg);
  }
  75% {
    transform: perspective(80rem) rotateY(1deg);
  }
  100% {
    transform: perspective(80rem) rotateX(0deg);
  }
}

@font-face {
    font-family: "NationalParkRegular";
    src: url(font-regular);
}

html {
    font-family: "NationalParkRegular", "sans-serif";
    font-size: x-large;
    background-color: #c5e3c5;
}

body {
    margin: 0px;
}

h1, h2 {
    margin-top: 24px;
    margin-bottom: 12px;
}

img {
    width: 95vw;
    max-width: fit-content;
}

#content {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 74px;
    bottom: 0;
    width: 100%;
}

#main {
    width: 95vw;
    max-width: 800px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: gray;
    position: fixed;
    top: 0;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

#navbar > div {
    text-align: left;
    width: 95vw;
    max-width: 800px;
}

#navbar > div > a {
    color: gray;
    text-decoration: none;
}

#navbar > div > a:hover {
    color: #c5e3c5;
}

#navbar > div > .nav-active {
    color:#c5e3c5;
}

#contact {
    padding-top: 24px;
}

.project-card-content {
    margin-top: 12px;
    margin-bottom: 48px;
}

.project-card-image {
    animation-name: breeze;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    border-radius: 10px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: black;
  padding-left: 9px;
  padding-right: 9px;
}